

<html>
	<head>
		<meta name="viewport" content="width=device-width, maximum-scale=1">
		<title></title>
		<style>
			* {
				font-family: "Comic Sans MS", "Comic Sans", "Arial", sans-serif;
				color:#FFF;
			}
			body {
				background: radial-gradient(#1e88e5, rgb(127, 183, 252));
  				background-repeat: no-repeat;
			}
			#container {
				margin: 0 auto;
			}
			a {
				font-size: 1.25em;
			}
			.grid {
				display: grid;
				grid-auto-columns: auto;
				grid-template-columns: repeat(3, 0.2fr);
				gap: 20px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<p>
			Hi, welcome to the office hours page. I uh accidentally built my own podcast platform yay!
			</p>
			<div class="grid">
				{%- for type in episodes.types -%}
				<div class="column">
					<h2>{{type}}</h2>
					<ul>
						{%- for episode in episodes.episodes | tagged([type]) | notTagged(['old']) | sortDataByDate | reverse -%}
						<li><a href="episodes/{{episode.title | slugify}}">{{episode.title}}</a></li>
						{%- endfor -%}
					</ul>
				</div>
				{%- endfor -%}
			</div>
			<p>You want older episodes...? They're <a href="/old">here</a></p>
		</div>
	</body>
</html>