<html>
	<head>
		<meta name="viewport" content="width=device-width, maximum-scale=1">
		<title></title>
		<style>
			* {
				font-family: "Comic Sans MS", "Comic Sans", "Arial", sans-serif;
				color:#FFF;
			}
			body {
				background: radial-gradient(#1e88e5, rgb(127, 183, 252));
  				background-repeat: no-repeat;
			}
			#container {
				margin: 0 auto;
			}
			a {
				font-size: 1.25em;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<p>
			Hi, welcome to the office hours page. I uh accidentally built my own podcast platform yay!
			</p>
			<ul>
			{%- for episode in episodes.episodes | tagged(['old']) | sortDataByDate | reverse -%}
			<li><a href="episodes/{{episode.title | slugify}}">{{episode.title}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</body>
</html>